<div class="jumbotron center">
<h1>Welcome to MyRecipes</h1>
<h2>The best recipe sharing app!</h2>
<p><%= link_to "Sign up for the app", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>

   <div class="row">
    <div class="col-md-4">
      <h2>Lemon drizzle cake...</h2>
      <p>
      Deliciously light, fluffy and moist sponge. Highly recommended. Mine took 35 mins so keep an eye on it! Also tried this out without any lemon but added a teaspoon of vanilla essence instead. Made a lovely vanilla loaf with butter icing on top. Secret is not to mix all 5 ingredients together at once but to cream sugar and butter first, then add eggs and whisk in well, then fold in flour. Add milk right at end. YUMMY!  </p>
      <p><a class="btn btn-primary btn-xlarge" href="#" role="button">Read more... &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Beef Stew review...</h2>
      <p>This was delicious. I cubed a chuck roast which was cheap and flavorful (removing all excess fat). I added some worchestershire sauce and ketchup at the end to add umami (flavor). After cooking I separated the solids and boiled the liquid a bit to reduce and concentrate, then whisked in a slurry of flour and water to thicken before recombining with meat and veggies.  </p>
      <p><a class="btn btn-primary btn-xlarge" href="#" role="button">Read more... &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Classic Goulash...</h2>
      <p>Classic Goulash is one of my favorite old fashioned recipes, made with ground beef, onion, bell pepper, and macaroni in a seasoned tomato sauce with diced tomatoes. It’s perfect for busy weeknight dinners because all it takes is one pot and less than 45 minutes!</p>
      <p><a class="btn btn-primary btn-xlarge" href="#" role="button">Read more... &raquo;</a></p>
    </div>
    </div>